<!DOCTYPE html>
<html>
<head>
	<title>Instance Details</title>
	<style>
        body {
            background-color: #e0d9d9;
            font-family: Arial, sans-serif;
        }
        a{
            color: mediumseagreen;
        }
        .c1{
            display: inline-block;
        }
        .c2{
            display: inline-block;
        }
        .c3{
            display: inline-block;
        }
        h1 {
            text-align: center;
            margin-top: 50px;
            font-size: 3rem;
            color: #0095ff;
            text-shadow: 1px 1px 1px #ccc;
        }
        .type{
            font-size: 1.5rem;
            overflow: hidden;
            white-space: nowrap; 
            width: 0;
            animation: 
                typing 1s steps(20, end) forwards, blinking .8s infinite;
        }
        .type2{
            font-size: 1.5rem; 
            overflow: hidden;
            white-space: nowrap; 
            width: 0;
            animation: 
                typing 1s steps(20, end) forwards, blinking .8s infinite;
            animation-delay: 1s;
        }
        .type3{
            font-size: 1.5rem; 
            overflow: hidden;
            white-space: nowrap; 
            width: 0;
            animation: 
                typing 1s steps(20, end) forwards;
            animation-delay: 2s;
        }
        @keyframes typing {
            from { width: 0 }
            to { width: 100% }
        }
        @keyframes blinking {
            from { border-color: transparent }
            to { border-color: orange; }
        }
    </style>
</head>
<body>
    <center>
        <h1>INSTANCE DETAILS</br></h1>
        <hr><br><br>
        <div class="c1">
            <div class="type">IP ADDRESS: {{ public_ip }}</div>
            </br>
            <div class="type2">MAC ADDRESS: {{ mac_address }} </div>
            </br>
            <div class="type3">INSTANCE ID: {{ instance_id }}</div>
        </div>
        </br>
    </center>
</body>
</html>